body {
    font-family: Arial, sans-serif;
    background-image:"img/Fontodo.webp";
    color: #5A1D1D;
    margin: 0;
}

header {
    background-color: #9E2A2B;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    text-align: center;
}

#galeria .imagenes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#galeria img {
    width: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
}

#galeria img:hover {
    transform: scale(1.1);
}
